* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container-content {
    background-color: #fafafa;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
/* Pagination */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 60px;
    button {
        width: 35px;
        height: 35px;
        border: 2px solid #a4c639;
        background: white;
        color: #a4c639;
        border-radius: 50%;
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s;
    }
    .right-left-btn {
        border: none;
        background-color:#fafafa;
        font-size: 18px;
    }
}
#pagination button.active {
    background: #a4c639;
    color: white;
}
#pagination button:hover {
    background: #d4e157;
}
#pagination button:disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}
#pagination span {
    font-size: 14px;
    color: #a4c639;
}
/* End pagination */

/* Tạo lớp overlay phủ toàn màn hình */
#loading-waiting {
    position: fixed; /* Giữ cố định trên màn hình */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Nằm trên cùng */
}

/* Tạo hiệu ứng dấu chấm */
.loading-text {
    font-size: 24px;
    font-weight: bold;
    color: #a4c639; /* Màu chữ */
    display: flex;
    align-items: center;
}

/* Hiệu ứng dấu chấm lần lượt xuất hiện */
.loading-text span {
    animation: dotAnimation 1.5s infinite;
    opacity: 0;
}

.loading-text span:nth-child(1) { animation-delay: 0s; }
.loading-text span:nth-child(2) { animation-delay: 0.3s; }
.loading-text span:nth-child(3) { animation-delay: 0.6s; }

@keyframes dotAnimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
