.icon-back {
    position: absolute;
    top: 30px;  
    left: 30px; 
    font-size: 20px; 
    color: #504f4f; 
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.icon-back:hover {
    color: #A5C926; 
}
.container-forgot-password {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-forgot-password-content {
    background: white;
    padding: 40px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1175px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}
.form-forgot-password-content {
    padding: 40px;
}
.form-forgot-password {
    width: 707px;
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content: center;
    h2 {
    color: #A5C926;
    margin-bottom: 20px;
    font-size: 36px;
    }
    p {
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
        color:#636262
    }
}
.form-block-forgot-password label {
    display: block;
    text-align: left;
    font-size: 20px;
    margin-bottom: 8px;
}
.form-block-forgot-password input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}
.form-block-forgot-password input:focus {
    border-color: #A5C926;
    outline: none;
}
.btn-forgot-password {
    background-color: #A5C926;
    color: white;
    border: none;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}
.btn-forgot-password:hover {
    box-shadow: 0 8px 8px -4px rgba(165, 201, 38, 0.5);
    transform: scale(1.05);
    transition: all 0.3s 0s ease-in-out;
}

