.container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0px 60px 0px;
}
.container-signup-content {
    background: white;
    padding: 40px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1175px;
    .image img {
        width: 500px;
        height: 500px;
    }
}
.signup-form-content {
    display: flex;
    padding: 0px 40px;
}
.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 15px;
    box-sizing: border-box;
    h2 {
        color: #A5C926;
        text-align: center;
        font-size: 28px;
    }
}
.form-block {
    margin-top: 8px;
    margin-bottom: 30px;
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
    }
    input {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    input:focus {
        border-color: #A5C926;
        outline: none;
    }
}
.button-block {
    display: flex;
    justify-content: center;
}
.signup-btn {
    width: 35%;
    padding: 10px;
    background-color: #A5C926;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s 0s ease-in-out;
}
.signup-btn:hover {
    box-shadow: 0 8px 8px -4px rgba(165, 201, 38, 0.5);
    transform: scale(1.05);
    transition: all 0.3s 0s ease-in-out;
}
.text-center {
    text-align: center;
    margin-top: 25px;
}
.text-center a {
    color: #A5C926;
    text-decoration: none;
}
